body {
	margin: 0%;
	padding: 0%;
	overflow: hidden;
}
#info {
	position: fixed;
	top: 0px;
	left: 0px;
	text-align: center;
	z-index: 100;
	color: rgb(0, 0, 0);
	background-color: rgba(255, 255, 255, 1);
	display: none;
}
#settings {
	position: fixed;
	top: 0%;
	width: 20vw;
	right: 0px;
	text-align: center;
	z-index: 102;
	display:block;
	color: rgb(0, 0, 0);
	background-color: rgba(255, 255, 255, 1);
}
#settings > button {
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(0, 0, 0, 0);
	cursor: pointer;
}
#ui {
	position: fixed;
	top: 0%;
	left: 0%;
	color: rgb(0, 0, 0);
	background-color: rgba(255, 255, 255, 1);
	padding: 1%;
}
#stats {
	position: fixed;
	top: 0%;
	left: 0%;
	right: 20vw;
	bottom: 0%;
	color: rgb(0, 0, 0);
	z-index: 101;
	background-color: rgba(255, 255, 255, 0);
	display: none;
}
.bar-left {
	position: fixed;
	left: 0vw;
	top: 0vh;
	background-color: rgba(255, 255, 255, 1);
	color: rgba(0, 0, 0, 1);
	font-family: monospace;
	z-index: 101;
}
.bar-left > * {
	padding: 1vh 1vw;
	display: inherit;
	z-index: inherit;
}